@{
  
}

<div>
    <form method="post" action="~/SortingHat/Squestion2.cshtml">
        <div>Vraag 1: lalalalalala </div>
        <input type="radio" name="Q1" value="griffindor" /> antwoord 1<br />
        <input type="radio" name="Q1" value="hufflepuff" /> antwoord 2<br />
        <input type="radio" name="Q1" value="ravenclaw"  /> antwoord 3<br />
        <input type="radio" name="Q1" value="slytherin"  /> antwoord 4<br />
        <input type="submit" value="Question 2" />
    </form>
</div>