@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div>
    <form method="post" action="~/SortingHat/Squestion3.cshtml">
        <div>Vraag 2: lalalalalala </div>
        <input type="radio" name="Q2" value="griffindor" />antwoord 1<br />
        <input type="radio" name="Q2" value="hufflepuff" /> antwoord 2<br />
        <input type="radio" name="Q2" value="ravenclaw" /> antwoord 3<br />
        <input type="radio" name="Q2" value="slytherin" /> antwoord 4<br />
        <input type="submit" value="Question 3" />
        @Html.Hidden("Q1", Request["Q1"])
    </form>
</div>